fastapi
uvicorn[standard]

langgraph
langchain
langchain-core
langchain-community
langchain-groq

tavily-python

streamlit

fpdf2

pydantic
pydantic-settings

python-dotenv
httpx

pytest
pytest-asyncio